* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #11101d;
}

.daftar-menu {
  padding: 0;
}

.menu-samping {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 10;
}

.menu-samping.active {
  width: 290px;
}

.menu-samping .logo-content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.menu-samping.active .logo-content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo-content .logo span {
  font-size: 28px;
  margin-right: 5px;
}

.logo-content .logo .logo-name {
  font-weight: 400;
  margin-left: 10px;
}

.menu-samping #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 28px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.menu-samping #btn:hover {
  color: #11101d;
  background: #fff;
}

.menu-samping.active #btn {
  left: 80%;
  transform: rotate(180deg);
}

.menu-samping ul {
  margin-top: 20px;
}

.menu-samping ul li {
  position: relative;
  height: 50px;
  width: 100%;
  /* margin: 0 5px; */
  list-style: none;
  line-height: 50px;
}

.menu-samping ul li .tooltip,
.menu-samping .profile-content .tooltip {
  position: absolute;
  left: 127px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 35px;
  width: 122px;
  background: #000;
  color: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.menu-samping .profile-content .tooltip {
  left: 147px;
}

.menu-samping.active ul li .tooltip,
.menu-samping.active .profile-content .tooltip {
  display: none;
}

.menu-samping ul li:hover .tooltip,
.menu-samping .exit:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.menu-samping ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* transition: all 0.4s ease; */
  white-space: nowrap;
}

.menu-samping ul li a:hover {
  color: #11101d;
  background: #fff;
}

.menu-samping ul li a span {
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  text-align: center;
}

.menu-samping .links-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.menu-samping.active .links-name {
  opacity: 1;
  pointer-events: none;
}

.menu-samping .profile-content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-samping .profile-content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
}

.profile-content .profile .profile-details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.menu-samping.active .profile .profile-details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile-details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
}

.profile .profile-details .name-job {
  margin-left: 10px;
}

.profile .profile-details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile-details .job {
  font-size: 12px;
}

.profile #log-out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
}

.profile #log-out:hover {
  color: #11101d;
  background: #fff;
}

.menu-samping.active .profile #log-out {
  left: 88%;
}

.home-content {
  position: absolute;
  height: 100%;
  width: calc(100% - 88px);
  left: 88px;
  transition: all 0.5s ease;
  padding-right: 10px;
}

.home-content #tambah {
  margin-right: 10px;
}

.menu-samping.active ~ .home-content {
  width: calc(100% - 300px);
  left: 300px;
}

.home-content .judul {
  margin: 20px 0;
}

.home-content .judul .name {
  font-size: xx-large;
}

.home-content ul {
  font-size: small;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.home-content ul li {
  margin-right: 10px;
}

.home-content ul li a {
  text-decoration: none;
  color: #11101d;
}

td a,
th a {
  text-decoration: none;
  color: #11101d;
}

td a:hover,
th a:hover {
  color: #11101d;
}
